/*theme Setting*/
// @font-face {
//     font-family: 'helveticaregular';
//     src: url('../../assets/fonts/helvetica-webfont.woff2') format('woff2'),
//         url('../../assets/fonts/helvetica-webfont.ttf') format('ttf'),
//         url('../../assets/fonts/helvetica-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

$heading-font:'helveticaregular';
$body-font: 'helveticaregular';
$theme-color:#1bac91;
$white:#fff;
$black:#000;
$grey-white:#ddd;
$grey-black:#f8f8f8;
$blue:#0C89D5;

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

body {
    font-family: $body-font;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    margin: 0 0 15px 0;
    padding: 0;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-size: 25px;
    font-weight: 600;
}

p,
span {
    font-family: $body-font;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    font-family: $body-font;
}

.section-header {
    padding-bottom: 25px;
}

section {
    padding: 80px 0;
}

.text-center {
    text-align: center;
}

.title {
    h2 {
        text-align: center;
        color: $white;
    }
}

.pic-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(1, 1, 1, .40);
}

.mobile-frame {
    position: relative;

    .mobile-frame-content {
        position: absolute;
        top: 33px;
        left: 37px;
        z-index: 99;
    }
}

.back-img {
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#appFeature {
    h2 {
        letter-spacing: 3px;
    }
}

#getToday {
    // background-image: url("../img/get-today-bg.png");
    padding: 150px 0 150px;
    position: relative;

    h2 {
        font-size: 90px;
        line-height: 108px;
        font-stretch: 40%;
        font-weight: bold;
        position: relative;
        width: 1072px;
        z-index: 1;
        letter-spacing: 5px;
        margin: 0 auto;
        display: block;
        text-align: left;

        &:before {
            content: "Get it Today";
            position: absolute;
            font-size: 185px;
            left: 0;
            right: 0;
            z-index: -1;
            color: rgba(238, 235, 207, .14);
            letter-spacing: 5px;
        }

    }

    p {
        font-size: 20px;
        line-height: 25px;
        color: $white;
        margin-top: 90px;
        text-align: justify;
    }

    ul {
        margin-top: 100px;

        li {
            list-style-type: none;
            display: inline-block;

            &:first-child {
                margin-right: 22px;
            }

            img {
                width: 230px;
            }
        }
    }

    .mobile-frame {
        float: right;
    }

}

// test css
.absoluteClass {
    .nav-item {
        .nav-link {
            color: #fff;
        }
    }
}

.fixedClass {
    background: #000;

    .nav-item {
        .nav-link {
            color: #fff;
        }
    }
}

.navbar {
    .nav-item {
        .nav-link.active {
            color: #0C89D5;
        }
    }
}

.navbar-nav .nav-link:hover {
    color: #0C89D5 !important;
}

#feedback {
    background: $grey-black;
}

// end test css
#intro {
    background-image: url("../img/intro-bg.png");
    padding: 150px 0 150px;

    h1 {
        color: $blue;
        font-size: 70px;
        line-height: 84px;
        margin-bottom: 30px;
        text-align: justify;
    }

    p {
        color: $white;
        font-size: 20px;
        line-height: 25px;
    }

    ul {
        margin-top: 100px;

        li {
            list-style-type: none;
            display: inline-block;

            &:first-child {
                margin-right: 100px;
            }
        }
    }
}

/*Start Common photo background Section*/
.photo-area {
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 0;

    .title {
        min-height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;

        .title-inner {
            h2 {
                font-size: 90px;
                line-height: 108px;
                font-stretch: 40%;
                font-weight: bold;
                position: relative;
                z-index: 1;
                letter-spacing: 5px;
                margin: 0 auto;
                display: block;
                text-align: center;

                &:before {
                    position: absolute;
                    font-size: 200px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: -1;
                    color: rgba(238, 235, 207, .14);
                    letter-spacing: 5px;
                }
            }
        }
    }
}

.content-area {
    padding: 140px 0;

    .photo-content {
        display: flex;
        align-items: center;
        justify-content: center;


        h3 {
            font-size: 45px;
            font-weight: bold;
            line-height: 54px;
            letter-spacing: 5px;
        }

        p {
            font-size: 20px;
            line-height: 28px;
            font-weight: 500;
            color: $black;
            text-align: justify;
        }
    }

}

/*Start Common photo background Section*/
/*Start Filter section*/
#template {
    background-image: url("../img/template-bg.jpg");


    h2 {
        &:before {
            content: "Templates";
        }
    }
}

/*End Filter section*/

/*Start slide section*/
#Slide {
    padding: 0;

    .photo-area {
        background-image: url("../img/slide-bg.jpg");
    }

    h2 {
        &:before {
            content: "Slide";
        }
    }

    .content-area {
        .mobile-frame {
            float: right;
        }
    }
}

/*End Slide section*/
/*Start Photo Edit section*/
#photoEdit {
    padding: 0;

    .photo-area {
        //  background-image: url("../img/photo-edit-bg.jpg");

        h2 {
            &:before {
                content: "Photo Edit";
            }
        }
    }

    .content-area {
        ul {
            li {
                font-size: 18px;
                line-height: 35px;

                i {
                    padding-right: 8px;
                    font-size: 12px;
                }
            }
        }
    }

}

/*End Photo Edit section*/
/*Start Effect section*/
#effect {
    padding: 0;

    .photo-area {
        background-image: url("../img/effect-bg.jpg");

        h2 {
            &:before {
                content: "Effect";
            }
        }
    }

    .content-area {}

}

/*End Effect section*/
/*Start Frame section*/
#frame {
    padding: 0;

    .photo-area {
        //  background-image: url("../img/frame-bg.jpg");
    }

    h2 {
        &:before {
            content: "Frame";
        }
    }

    .content-area {
        .mobile-frame {
            float: right;
        }
    }
}

/*End Frame section*/
/*Start Filter section*/
#filter {
    .photo-area {
        // background-image: url("../img/filter-bg.jpg");
    }

    h2 {
        &:before {
            content: "Filter";
        }
    }
}

/*End Filter section*/

/*Start Filter section*/
#getInTouch {
    // background-image: url("../img/get-in-touch-bg.png");

    .title {
        display: inherit;
        min-height: inherit;

        h2 {
            &:before {
                content: "Get In Touch";
                font-size: 175px;
            }
        }
    }

}

/*End Filter section*/