/*theme Setting*/
body {
  font-family: "helveticaregular";
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "helveticaregular";
  margin: 0 0 15px 0;
  padding: 0;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-size: 25px;
  font-weight: 600;
}

p,
span {
  font-family: "helveticaregular";
}

ul {
  padding: 0;
  margin: 0;
}

a {
  font-family: "helveticaregular";
}

.section-header {
  padding-bottom: 25px;
}

section {
  padding: 80px 0;
}

.text-center {
  text-align: center;
}

.title h2 {
  text-align: center;
  color: #fff;
}

.pic-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(1, 1, 1, 0.4);
}

.mobile-frame {
  position: relative;
}

.mobile-frame .mobile-frame-content {
  position: absolute;
  top: 33px;
  left: 37px;
  z-index: 99;
}

.back-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#appFeature h2 {
  letter-spacing: 3px;
}

#getToday {
  padding: 150px 0 150px;
  position: relative;
}

#getToday h2 {
  font-size: 90px;
  line-height: 108px;
  font-stretch: 40%;
  font-weight: bold;
  position: relative;
  width: 1072px;
  z-index: 1;
  letter-spacing: 5px;
  margin: 0 auto;
  display: block;
  text-align: left;
}

#getToday h2:before {
  content: "Get it Today";
  position: absolute;
  font-size: 185px;
  left: 0;
  right: 0;
  z-index: -1;
  color: rgba(238, 235, 207, 0.14);
  letter-spacing: 5px;
}

#getToday p {
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  margin-top: 90px;
  text-align: justify;
}

#getToday ul {
  margin-top: 100px;
}

#getToday ul li {
  list-style-type: none;
  display: inline-block;
}

#getToday ul li:first-child {
  margin-right: 22px;
}

#getToday ul li img {
  width: 230px;
}

#getToday .mobile-frame {
  float: right;
}

.absoluteClass .nav-item .nav-link {
  color: #fff;
}

.fixedClass {
  background: #000;
}

.fixedClass .nav-item .nav-link {
  color: #fff;
}

.navbar .nav-item .nav-link.active {
  color: #0C89D5;
}

.navbar-nav .nav-link:hover {
  color: #0C89D5 !important;
}

#feedback {
  background: #f8f8f8;
}

#intro {
  background-image: url("../img/intro-bg.png");
  padding: 150px 0 150px;
}

#intro h1 {
  color: #0C89D5;
  font-size: 70px;
  line-height: 84px;
  margin-bottom: 30px;
  text-align: justify;
}

#intro p {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
}

#intro ul {
  margin-top: 100px;
}

#intro ul li {
  list-style-type: none;
  display: inline-block;
}

#intro ul li:first-child {
  margin-right: 100px;
}

/*Start Common photo background Section*/
.photo-area {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 0;
}

.photo-area .title {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-area .title .title-inner h2 {
  font-size: 90px;
  line-height: 108px;
  font-stretch: 40%;
  font-weight: bold;
  position: relative;
  z-index: 1;
  letter-spacing: 5px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.photo-area .title .title-inner h2:before {
  position: absolute;
  font-size: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  color: rgba(238, 235, 207, 0.14);
  letter-spacing: 5px;
}

.content-area {
  padding: 140px 0;
}

.content-area .photo-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-area .photo-content h3 {
  font-size: 45px;
  font-weight: bold;
  line-height: 54px;
  letter-spacing: 5px;
}

.content-area .photo-content p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #000;
  text-align: justify;
}

/*Start Common photo background Section*/
/*Start Filter section*/
#template {
  background-image: url("../img/template-bg.jpg");
}

#template h2:before {
  content: "Templates";
}

/*End Filter section*/
/*Start slide section*/
#Slide {
  padding: 0;
}

#Slide .photo-area {
  background-image: url("../img/slide-bg.jpg");
}

#Slide h2:before {
  content: "Slide";
}

#Slide .content-area .mobile-frame {
  float: right;
}

/*End Slide section*/
/*Start Photo Edit section*/
#photoEdit {
  padding: 0;
}

#photoEdit .photo-area h2:before {
  content: "Photo Edit";
}

#photoEdit .content-area ul li {
  font-size: 18px;
  line-height: 35px;
}

#photoEdit .content-area ul li i {
  padding-right: 8px;
  font-size: 12px;
}

/*End Photo Edit section*/
/*Start Effect section*/
#effect {
  padding: 0;
}

#effect .photo-area {
  background-image: url("../img/effect-bg.jpg");
}

#effect .photo-area h2:before {
  content: "Effect";
}

/*End Effect section*/
/*Start Frame section*/
#frame {
  padding: 0;
}

#frame h2:before {
  content: "Frame";
}

#frame .content-area .mobile-frame {
  float: right;
}

/*End Frame section*/
/*Start Filter section*/
#filter h2:before {
  content: "Filter";
}

/*End Filter section*/
/*Start Filter section*/
#getInTouch .title {
  display: inherit;
  min-height: inherit;
}

#getInTouch .title h2:before {
  content: "Get In Touch";
  font-size: 175px;
}

/*End Filter section*/
